*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Segoe UI',sans-serif;
  background: radial-gradient(circle at top, #1e3c72, #0f2027);
  color:white;
  min-height:100vh;
  overflow-x:hidden;
}


.mobile-wrapper{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.mobile-frame{
  width:100%;
  max-width:420px;
  min-height:100vh;
  margin:40px auto;
  padding:25px;
  background:rgba(255,255,255,0.06);
  backdrop-filter:blur(18px);
  border-radius:30px;
  box-shadow:0 0 40px rgba(79,172,254,0.4);
  position:relative;
}

.fade-in{
  animation:fadeIn 1s ease forwards;
}

.fade-out{
  animation:fadeOut 0.8s ease forwards;
}

@keyframes fadeIn{
  from{opacity:0;transform:scale(0.95);}
  to{opacity:1;transform:scale(1);}
}

@keyframes fadeOut{
  from{opacity:1;}
  to{opacity:0;}
}

.content{
  position:relative;
  z-index:2;
}

h1{
  text-align:center;
  font-size:26px;
  margin-bottom:15px;
  text-shadow:0 0 15px #4facfe;
}

p{
  font-size:15px;
  text-align:center;
  line-height:1.6;
  min-height:70px;
}

button{
  width:100%;
  padding:14px;
  margin-top:20px;
  border:none;
  border-radius:30px;
  background:linear-gradient(45deg,#4facfe,#00f2fe);
  color:white;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  transform:scale(1.05);
}

.gallery{
  display:flex;
  flex-direction:column;
  gap:15px;
  margin-top:20px;
}

.gallery img{
  width:100%;
  height:55vw;
  max-height:260px;
  object-fit:cover;
  border-radius:20px;
  box-shadow:0 0 20px rgba(79,172,254,0.6);
}


.gallery img:hover{
  transform:scale(1.05);
}

canvas{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1;
}


.star-container,
.flower-container{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none;
  overflow:hidden;
  z-index:0;
}

.star{
  position:absolute;
  color:#ffffff;
  animation:twinkle 2s infinite alternate;
}

@keyframes twinkle{
  0%{opacity:0.2; transform:scale(0.8);}
  100%{opacity:1; transform:scale(1.2);}
}

.flower{
  position:absolute;
  top:-50px;
  animation:fall linear forwards;
}

@keyframes fall{
  0%{
    transform:translateY(0) rotate(0deg);
    opacity:1;
  }
  100%{
    transform:translateY(110vh) rotate(360deg);
    opacity:0;
  }
}


.slider{
  width:100%;
  overflow:hidden;
  border-radius:20px;
  margin-top:20px;
}

.slides{
  display:flex;
  transition:transform 0.5s ease;
}

.slides img{
  width:100%;
  height:55vw;
  max-height:260px;
  object-fit:cover;
  border-radius:20px;
  flex-shrink:0;
  box-shadow:0 0 20px rgba(79,172,254,0.6);
}
